body, html {
    background: black;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    color: #f9f9fb;
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px white;
}
.anchors {
    border-left: solid 1px white;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px white;
}
figure {
    display: inline;
    padding-bottom: 10px;
    margin: 0;
    margin-left: 15px;
    border-radius: 50%;
    border: solid;
    color:red;
    
}
h1{
    text-decoration: none;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:45px;
     background-color: brown;
     
}
h2{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
     background-color: white;
     color: black;
     border-radius: 25px;
    
}



